/* Body && Init style */

:root {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif !important;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #0c0032;
  --bg-secondary: #141418;
}
body {
  color: var(--text-primary);
  background-color: var(--bg-secondary);
  margin: 0;
  padding: 0 0 2rem 0;
  font-family: "Times New Roman", Times, serif !important;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

svg {
  fill: white;
  opacity: 90%;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

/* END */

/* NAV */

h1 {
  text-align: center;
  font-size: 40px;
}

.pretty {
  font-size: 50px;
  color: #729fcf;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 400ms ease;
  z-index: 1;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
  padding-bottom: 0;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none !important;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
}
.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.navImg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.navbar:hover .link-text {
  display: block;
}

.fa-primary {
  color: #3b01da;
}

.fa-secondary {
  color: #230075;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font: 1.5rem;
  letter-spacing: 0.3ch;
}

.logo svg {
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
    filter: grayscale(50%) opacity(1) !important;
  }

  .link-text {
    padding-bottom: 0rem !important;
    display: none !important;
  }

  main {
    margin: 0;
  }

  .container {
    margin-left: 0rem;
  }

  .textInputDiv {
    margin-top: 15vh;
  }
  .gameTextDiv {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 1rem;
  }

  #line {
    margin-left: -2rem;
    width: 120vw !important;
  }

  .regText {
    width: 80%;
    margin: 0 auto;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
    transition: opacity var(--transition-speed);
  }
  .nav-item {
    width: 100%;
    padding-bottom: 2rem;
  }

  .regText {
    font-size: 18px;
    width: 40%;
    margin: auto;
  }
  .title {
    margin-left: 5rem;
  }
  .textInputDiv {
    margin-top: 30vh;
  }

  .gameTextDiv {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 3rem;
    text-align: left;
  }
}

/* END */
.footer {
  position: fixed;
  bottom: 0;
  margin-top: auto;
  width: 100%;
  height: 3rem;
  z-index: 0;
  background-color: var(--bg-secondary);
}

.footerText {
  color: white;
  text-align: center;
}

.textInputDiv {
  text-align: center;
}

.gameContainer {
  text-align: center;
  font-size: 18px;
}

.gameTitle {
  font-size: 50px;
}

.gameImg {
  width: 100vw;
  height: 50vw;
}

.gameText {
  padding-top: 1.5rem;
}

.gameTextDiv {
  margin: 0 auto;
  text-align: left;
}

.hideDiv {
  animation: slide-out-blurred-top 3s 1;
}
.divGone {
  display: none;
}
.hideP {
  font-size: 30px;
}

@-webkit-keyframes slide-out-blurred-top {
  0% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    overflow: hidden;
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}
@keyframes slide-out-blurred-top {
  0% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    overflow: hidden;
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

.form-control-lg {
  font-size: 20px;
  height: 5vh;
  width: 50%;
  display: inline;
}

.btn {
  padding: 20px;
  margin-top: -5px;
}

.afterTransition {
  margin: 25px;
  animation: slide-in-top 0.8s;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.metaBtn {
  padding: 0.5rem 1.5rem;
}
